{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h2>إضافة جلسة</h2>
    {% if success %}
        <div class="alert alert-success" role="alert">تم إضافة جلسة جديدة بنجاح
            <a href="{% url 'case_sittings' case_id %}" class="alert-link">الصفحة السابقة</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-address-card fa-lg"></i> معلومات الجلسة
                    </div>
                    <div class="card-body">
                        <form action="{% url 'add_sitting' case_id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">حفظ</button>
                            <a href="{% url 'sittings' %}" class="btn btn-secondary">الغاء</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    {% else %}
    {% endif%}
{% endblock %}
