{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header"><strong>
    	{{ appointment_detail.client_FK }}</strong>
    </div>

    <div class="card-body">
        <p class="card-text">
            <strong>تاريخ الموعد: </strong>
            {{ appointment_detail.appointment_date }}
        </p>

        <p class="card-text">
            <strong>ملاحظات: </strong>
            {{ appointment_detail.notes }}
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'update_appointment' appointment_detail.id %}" class="btn btn-primary">تعديل</a>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{appointment_detail.id}}">
                مسح
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="delete{{appointment_detail.id}}" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">
                                العميل: {{ appointment_detail.client_FK }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>هل أنت متأكد أنك تريد حذف هذا الموعد؟</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'delete_appointment' appointment_detail.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="نعم">
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/><br/>
<a href="{% url 'appointments' %}" class="btn btn-secondary">العودة</a>

{% endblock %}