{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h2>تعديل البيانات</h2>
    {% if success %}
        <div class="alert alert-success" role="alert">تم تحديث بيانات العميل بنجاح
            <a href="{% url 'clients' %}" class="alert-link">الصفحة السابقة</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-address-card fa-lg"></i> معلومات العميل
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">تحديث</button>
                            <a href="{% url 'clients' %}" class="btn btn-secondary">الغاء</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    {% else %}
    {% endif%}
{% endblock %}
